<!DOCTYPE html>
<html>

<head>
    
    {% block head %}
        <title>Gym Manager</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <div class="links">
            <a class="" href="/">Instructors</a>
            <a class="" href="/members">Members</a>
        </div>
        
        {% block content %}{% endblock %}
    </header> 
    
</body>
</html>